* {
    padding: 0%;
    margin: 0%;
}

#cabeza{
    display: flex;
    
    justify-content: center;
    width: 100%;
    height: 40%;
    background-color: yellow;
    padding: 3% 1%;
    font-size: 40px;
    
  
}

#subtitulo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    background-color: orange;
    padding: 2% 1%;
    font-size: 30px;


}

main > aside{
    display: flex;
    float: right;
    overflow: hidden;
    width: 100%;
    height: 80%;
    background-color: green;
    padding: 10% 1% 9.7% 0%;
    font-size: 30px;
    margin-left: 20px;
    justify-content: center;
    
}

main{
    font-size: 35px;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: blue;
    padding: 40px 1% 3%;
}

main > section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    background-color: red;
    padding: 15%;
    margin-left: 40px;

}


footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    background-color: purple;
    padding: 2% 1%;
    font-size: 30px;
    


}

footer > div {
    font-size: 40px;
    color: black;
    justify-content: center;
}